body {
  font-family: 'Lato', sans-serif;
  color: #4f545e;
  background-color: #fafafa;
}

/* ------------ */

.element-content--helper {
  width: 125px !important;
  height: 125px !important;
}

.drop-placeholder {
	width: 100%;
	background-color: rgba(0, 105, 255, 0.6);
	background-image: repeating-linear-gradient(
		135deg,
		transparent,
		transparent 12px,
		rgba(0, 0, 0, 0.1) 0,
		rgba(0, 0, 0, 0.1) 24px
	);
	border: 1px dashed #0069ff;
	height: 2rem;
}

.builder-element {
	border: 1px solid transparent;
	/* padding: 0.2rem; */
	position: relative;
}

.builder-element:hover {
	border-color: #00e5ff;
}

.editor-element {
	border: 2px solid transparent;
}

.editor-element-hovered {
	border-color: #ffb417;
}

.element-body {
	position: relative;
}

.element-content {
}

.element-action {
	display: none;
	top: 0;
	left: 0;
	background-color: #00e5ff;
	position: absolute;
	z-index: 999;
}

.builder-element:hover .element-action {
  display: flex;
}

.element-action .item {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.element-action .item:hover {
  background-color: #06d1e8;
}

.element-item:hover {
  background-color: rgba(177, 186, 204, 0.8);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.element-item {
  background-color: rgba(177, 186, 204, 0.5);
  border-radius: 0.2rem;
  padding: 1rem;
  cursor: grab;
  cursor: -webkit-grab;
  border: 0px dashed;
}

.element-icon {
  font-size: 1.5rem;
}

.element-text {
	font-size: 0.75rem;
}

.el-list {
	background-color: #ffffff;
	border-radius: 0.25rem;
	height: 4.25rem;
	min-width: 4.25rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.el-list.helper {
	width: 5rem !important;
	height: 5rem !important;
	opacity: 0.8;
}

.el-list > i {
	font-size: 1.5rem;
}

.el-item:hover {
	cursor: pointer;
	background-color: #f0f0f0;
}

.dropzone {
	min-height: 2rem;
}